@import "tailwindcss";

@theme {
  --background-color: #f9f9f9;
  --color-primary: #eee5dd; /* Soft beige - background / body text */
  --color-secondary: #8E44AD; /* Muted lavender - accents, hover */
  --color-lavender: #CE94E7;
  --color-accent: #014040; /* Deep teal - header/nav background */
  --color-white: #fff;

  --background: var(--background-color);
  --foreground: var(--color-accent);
  --header-bg: var(--color-accent);
  --header-text: var(--color-primary);
  --hover-accent: var(--color-secondary);
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Inter", sans-serif;
  }
}
