@import "tailwindcss";

@theme {
  --background: #f0f0f0;
  --foreground: #171717;
  --primary-green: #005151;
  --primary-violet: #8e44ad;
  --primary-violet-2: #9f87af;
  --secondary-sable: #eee5dd;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Inter', sans-serif;
  }
}
